:root {
  --primary-color: #2c786c;
  --secondary-color: #ddeedf;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 96px;
}

h2 {
    font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 24px;
  
}

p {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-size: 36px;
}

button  {
    margin: 20px;
    background: var(--primary-color);
}
.headofpage {
    background: #ddeedf;
    text-align: center;
    padding: 50px;
}
